/* send resume section */
.send-resume-section {
  position: relative;
  width: 100%;
}
.send-resume-section-info {
  position: absolute;
  left: 50%;
  top: 85.5%;
  transform: translate(-50%, -85.5%);
  text-align: center;
}
.send-resume-section-info-header {
  text-transform: uppercase;
}
.send-resume-section-info-button {
  margin: 0 auto; /* align button to center */
}
.send-resume-section-info-button:focus {
  box-shadow: none;
}
/* send resume section end */
/* company info section */
.company-info-section {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #212121;
}
.company-info-section-header {
  color: #999999;
}
.company-info-section-group {}
.company-info-section-group-block {}
.company-info-section-group-block-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #B6FFBA;
  box-shadow: 0px 0px 10px #B6FFBA, 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #21A038;
}
.company-info-section-group-block-text {
  color: #FFFFFF;
}
/* company info section end */

                           /* MOBILE VERSION */
@media (max-width: 991px) {
/* send resume section */
  .send-resume-section {
    background: url('../img/sections/01 1.webp') center/cover no-repeat;
    height: 138.9vw; /* image proportion = height / width => 500 / 360 * 100 */
  }
  .send-resume-section-info-header {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .send-resume-section-info-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 35px;
  }
  .send-resume-section-info-button {
    font-size: 12px;
    width: 200px;
    height: 40px;
    padding: 10px 0;
  }
  .send-resume-section_fix_header-overlay {
    margin-top: 57px; /* fix: header overlays send resume section */
  }
  .send-resume-section_fix_button-width {
    min-width: unset; /* fix: overrides btn class but has no effect due to content is wider than min-width */
  }
/* send resume section end */
}
/* Extra small */
@media (max-width: 575px) {

  /* company info section */
  .company-info-section-header {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 35px;
  }
  .company-info-section-group-block-box {
    width: 80px;
    height: 70px;
    margin: 0 auto 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
  }
  .company-info-section-group-block-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .company-info-section-group__block-gap {
    row-gap: 35px;
  }
  /* company info section end */
}
/* Small */
@media (min-width: 576px) and (max-width: 767px) {

  /* company info section */
  .company-info-section-header {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 35px;
  }
  .company-info-section-group-block-box {
    width: 80px;
    height: 70px;
    margin: 0 auto 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
  }
  .company-info-section-group-block-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .company-info-section-group__block-gap {
    row-gap: 35px;
  }
  /* company info section end */
}
/* Medium */
@media (min-width: 768px) and (max-width: 991px) {

  /* company info section */
  .company-info-section-header {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 35px;
  }
  .company-info-section-group-block-box {
    width: 80px;
    height: 70px;
    margin: 0 auto 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
  }
  .company-info-section-group-block-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .company-info-section-group__block-gap {
    row-gap: 35px;
  }
  /* company info section end */
}
                           /* MOBILE VERSION END */
                           /* DESKTOP VERSION */
/* Large */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Extra large */
@media (min-width: 1200px) {

}
                           /* DESKTOP VERSION END */
