                           /* VACANCIES PAGE */
/* common */
.vacancies-page-button {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  height: 40px;
  padding: 10px 0;
  margin: 0 auto; /* align button to center */
}
.vacancies-page-button:focus {
  box-shadow: none;
}
.vacancies-page-button_fix_button-width {
  min-width: unset; /* fix: overrides btn class but has no effect due to content is wider than min-width */
}
.vacancies-page-header {
  color: #999999;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.js-vacancies-page-icon-more {
  background: url('../img/svg/more.svg');
  width: 25px;
  height: 26px;
}
.js-vacancies-page-icon-close {
  background: url('../img/svg/close.svg');
  width: 25px;
  height: 26px;
}
.vacancies-page-blick {
  border-radius: 50%;
  left: 50%;
  top: 50%;
  z-index: 0;
}

/* common end */
/* send resume section */
.send-resume-section {
  background: url('../img/sections/01 1.webp') center/cover no-repeat;
  height: 138.9vw; /* image proportion = height / width => 500 / 360 * 100 */
}
.send-resume-section-wrapper {
  left: 50%;
  top: 85.5%;
  transform: translate(-50%, -85.5%);
}
.send-resume-section-header {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 15px;
}
.send-resume-section-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 35px;
}
.send-resume-section-button {
  width: 200px;
}
.send-resume-section_fix_header-overlay {
  margin-top: 57px; /* fix: header overlays send resume section */
}
/* send resume section end */
/* company info section */
.company-info-section {
  padding: 45px 0;
  background-color: #212121;
}
.company-info-section-wrapper {}
.company-info-section-header {
  margin-bottom: 35px;
}
.company-info-section-group {}
.company-info-section-group-row {
  row-gap: 35px;
}
.company-info-section-group-block {}
.company-info-section-group-block-box {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #B6FFBA;
  box-shadow: 0px 0px 10px #B6FFBA, 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #21A038;
  width: 80px;
  height: 70px;
  margin: 0 auto 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}
.company-info-section-group-block-text {
  font-size: 16px;
  line-height: 20px;
}
/* company info section end */
/* departments section */
.departments-section {
  background-color: #212121;
  padding: 45px 20px;
}
.departments-section-wrapper {}
.departments-section-header {
  margin-bottom: 35px;
}
.departments-section-pills {
  max-width: 360px;
  margin: 0 auto 35px;
}
.departments-section-nav-pills {
  gap: 10px;
}
.departments-section-nav-link {
  padding: 0 16px;
  border: 3px solid #999999;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
}
.nav-pills .departments-section-nav-link {
  color: #FFFFFF;
  border-radius: 5px;
}
.nav-pills .departments-section-nav-link.active {
  color: #212121;
  background-color: #999999;
  cursor: text;
}
.js-departments-section-vacancies {
  row-gap: 15px;
  min-height: 133px; /* height of a smallest card*/
  margin-bottom: 35px;
}
.departments-section-vacancy-card {
  background-color: #212121;
  border: 3px solid #999999;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  width: 320px;
}
.departments-section-vacancy-card-body {
  gap: 10px;
  padding: 30px 29px;
}
.departments-section-vacancies-wrapper {
  gap: 10px;
}
.departments-section-vacancies-info {
  gap: 20px;
}
.js-departments-section-vacancies-description {
  gap: 5px;
  font-size: 12px;
  line-height: 15px;
}
.departments-section-vacancies-description-list-item {
  width: 256px;
}
.departments-section-vacancies-description-list p::before {
  content: '•';
  margin: 0 5px 0 6px;
}
.departments-section-vacancies-info-name-wrapper {}
.departments-section-vacancies-info-name-icon {
  background: url('../img/svg/vacancy.svg');
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.departments-section-vacancies-info-name {
  width: 186px;
}
.departments-section-vacancies-info-price-wrapper {}
.departments-section-vacancies-info-price-icon {
  background: url('../img/svg/price.svg');
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.departments-section-vacancies-info-price {
  color: #21A038;
  width: 186px;
}
.departments-section-button {
  width: 260px;
}
/* departments section end */
/* advantages section */
.advantages-section {
  padding: 45px 0;
  background-color: #111311;
}
.advantages-section-wrapper {}
.advantages-section-header {
  margin-bottom: 20px;
}
.advantages-section-cards {}
.advantages-section-card {
  background-color: #111311;
  border: 1px solid #111311;
  border-radius: 0;
}
.advantages-section-card-body {
  padding: 0 20px;
  font-size: 18px;
  line-height: 22px;
}
.advantages-section-card-body-info {
  padding: 15px 0;
  gap: 15px;
}
.advantages-section-card-body-info-text {
  width: 280px;
  font-weight: 700;
}
.js-advantages-section-card-body-description {
  padding-bottom: 15px;
}
.advantages-section-card-body-description-text {
  width: 320px;
}
.advantages-section-line {
  margin: 0;
  border-top: 3px solid #999999;
  width: 360px; /* is used to prevent flex container to make hr's width = 0 */
}
/* advantages section end */
/* products section */
.products-section {
  padding: 45px 0;
}
.products-section-wrapper {}
.products-section-header {
  margin-bottom: 35px;
}
.tabs-index.ui-tabs .tabs-index__tab.products-section-ui-tabs-nav {
  gap: 5px;
}
.tabs-index.ui-tabs .tabs-index__tab.products-section-ui-tabs-nav .ui-tabs-anchor {
  border-radius: 5px;
}
.tabs-index.ui-tabs .products-section-ui-tabs-nav li {
  width: 108px;
  line-height: 20px;
}
#tabs__portfolio .products-section-ui-tabs-nav {
  margin-bottom: 35px;
}
.ui-tabs .products-section-ui-tabs-panel {
  padding: 5px 0px 50px;
  width: 360px;
  margin: 0 auto;
  overflow: hidden;
}
.products-section-swiper-container {
  line-height: 0;
}
.products-section-swiper-wrapper {}
.products-section-swiper-slide {
  width: 182px !important; /* important needed to override width set by javascript */
  height: 165px;
  border-radius: 10px;
  overflow: hidden; /* needed to make border-radius visible */
}
.products-section-swiper-image {
  border-radius: 10px;
  object-fit: cover;
}
.products-section-swiper-container .swiper-slide-active {
  box-shadow: 0px 0px 0px 5px rgba(217, 217, 217, 0.25);
}
.products-section-swiper-button-next,
.products-section-swiper-button-prev {
  /* size of right / left arrow image */
  width: 18px;
  height: 30px;

  margin-top: 0;
  top: 40%;
}
.products-section-swiper-button-next {
  right: 3.9%; /* 14 / 360 * 100 = 3.9% */
}
.products-section-swiper-button-prev {
  left: 3.9%; /* 14 / 360 * 100 = 3.9% */
}
.products-section-swiper-button-next:after,
.products-section-swiper-button-prev:after {
  font-size: 0;
}
.products-section-swiper-button-next:after {
  content: url('../img/svg/arrow-right-mobile.svg');
}
.products-section-swiper-button-prev:after {
  content: url('../img/svg/arrow-left-mobile.svg');
}
.products-section-swiper-container .swiper-notification {
  display: inline; /* needed to delete empty space */
}
.products-section-swiper-pagination {}
.products-section-swiper-pagination.swiper-pagination-bullets {
  bottom: -50px;
}
.products-section-swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #888988;
  opacity: 1;
}
.products-section-swiper-pagination .swiper-pagination-bullet-active {
  width: 42.6px;
  height: 15px;
  background: #FFFFFF;
  border-radius: 25px;
}
.products-section-swiper-pagination.swiper-pagination-horizontal .swiper-pagination-bullet {
  margin: 0 4.5px;
}
/* products section end */
/* career section */
.career-section {
  padding: 43px 20px 47px;
  background-color: #111311;
  font-size: 14px;
  line-height: 20px;
}
.career-section-wrapper {
  width: 320px;
  margin: 0 auto;
}
.career-section-header {
  margin-bottom: 35px;
}
.career-section-text-wrapper {
  gap: 15px;
  margin-bottom: 35px;
}
.career-section-swiper-container {
  position: relative;
}
.career-section-card {}
.career-section-image-wrapper {
  position: relative;
  z-index: 1;
  margin: 0 auto 15px;
  width: 240px;
}
.career-section-card-image {
  width: auto;
  display: block;
  margin: 0 auto;
}
.career-section-image-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: url('../img/svg/green-rectangle-12.svg') center bottom no-repeat;
  background-size: 100%;
}
.career-section-image-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: url('../img/svg/blick.svg') center no-repeat;
  background-size: 100%;
  top: 0;
  display: block;
}
.career-section-list {
  gap: 15px;
}
.career-section-list p::before {
  content: '•';
  margin: 0 6px;
}
.career-section-card-title-wrapper {
  margin: 0 auto 15px;
  max-width: 195px;
}
.career-section-card-title {
  font-size: 16px;
}
.career-section .swiper-slide {
  visibility: hidden; /* needed for slides from 361 to 991 */
}
.career-section .swiper-slide-active {
  visibility: visible; /* needed for slides from 361 to 991 */
}
.career-section-card-body {}
.career-section-swiper-button-next,
.career-section-swiper-button-prev {
  /* size of right / left arrow image */
  width: 18px;
  height: 30px;

  margin-top: 0px;
  top: 18.5%;
}
.career-section-swiper-button-next {
  right: -7px;
}
.career-section-swiper-button-prev {
  left: -7px;
}
.career-section-swiper-button-next:after,
.career-section-swiper-button-prev:after {
  font-size: 0;
}
.career-section-swiper-button-next:after {
  content: url('../img/svg/arrow-right-mobile.svg');
}
.career-section-swiper-button-prev:after {
  content: url('../img/svg/arrow-left-mobile.svg');
}
.career-section-swiper-container .swiper-notification {
  display: inline; /* needed to delete empty space */
}
.career-section_fix_blick-order {
  /* needed to prevent blick from next section
    changes background color */
  position: relative;
  z-index: 1;
}
/* career section end */
/* motivation section */
.motivation-section {
  padding: 45px 0px 35px;
  background-color: #212121;
  font-weight: 700;
  font-size: 18px;
}
.motivation-section-wrapper {}
.motivation-section-text-wrapper {
  gap: 15px;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -0%);
  width: 320px;
  z-index: 1;
}
.motivation-section-image-holder-wrapper {
  padding: 43px 0 58px;
  z-index: 1;
}
.motivation-section-image-holder {
  background: url('../img/svg/team.svg') center/cover no-repeat;
  width: 360px;
  height: 386px;
  margin: 0 auto;
}
.motivation-section-blick-1 {
  width: 159.99px;
  height: 159.99px;
  background-color: #3D9542;
  filter: blur(100px);
  transform: translate(-49%, -33%);
}
.motivation-section-blick-2 {
  width: 341.24px;
  height: 341.24px;
  background-color: rgba(54, 133, 59, 0.52);
  filter: blur(163px);
  transform: translate(12%, -65%);
}
.motivation-section-blick-3 {
  width: 170.15px;
  height: 170.15px;
  background-color: rgba(127, 206, 132, 0.83);
  filter: blur(163px);
  transform: translate(-138%, -10%);
}
.motivation-section-text {
  line-height: 24px;
}
.motivation-section-block {
  padding: 20px 27px;
  border: 3px solid #36853B;
  box-shadow: 0px 0px 10px rgba(79, 183, 86, 0.7), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.8);
  width: 320px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
  z-index: 2;
}
.motivation-section-block-text {
  margin-bottom: 20px;
  line-height: 22px;
  width: 260px;
}
.motivation-section-button {
  width: 260px;
}
/* motivation section end */
                           /* MOBILE VERSION */
/* Extra small */
@media (max-width: 575px) {

}
/* Small */
@media (min-width: 576px) and (max-width: 767px) {

}
/* Medium */
@media (min-width: 768px) and (max-width: 991px) {

}
                           /* MOBILE VERSION END */
                           /* DESKTOP VERSION */
/* Large */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Extra large */
@media (min-width: 1200px) {

}
                           /* DESKTOP VERSION END */
                           /* VACANCIES PAGE END */
